.element__like-register{
  margin-top: 3px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 30px;
}