.popup__subtitle {
  padding: 0;
  margin: 40px auto 25px;
  width: 300px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color:#000
}

@media screen and (min-width: 769px) {
  .popup__subtitle {
    margin: 32px auto 26px;
    font-size: 24px;
    line-height: 29px;
  }
}

