.popup__container {
  padding: 25px 22px;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width:100%;
  margin: 0 auto;
  position: relative;
  max-width: fit-content;
}

@media screen and (min-width: 425px) {
  .popup__container {
    padding: 34px 36px;
  }
}