@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__autor/profile__autor.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__element-avatar/profile__element-avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-title/profile__info-title.css);
@import url(./blocks/profile/__info-subtitle/profile__info-subtitle.css);
@import url(./blocks/profile/__title-button/profile__title-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/grid-elements/grid-elements.css);
@import url(./blocks/grid-elements/__list/grid-elements__list.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__title-like/element__title-like.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__items-like/element__items-like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__like-register/element__like-register.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__confirm-title/popup__confirm-title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form-element/popup__form-element.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__save-btn/popup__save-btn.css);
@import url(./blocks/popup-zoom/popup-zoom.css);
@import url(./blocks/popup-zoom/__container/popup-zoom__container.css);
@import url(./blocks/popup-zoom/__image/popup-zoom__image.css);
@import url(./blocks/popup-zoom/__text/popup-zoom__text.css);
@import url(./blocks/root/root.css);
